* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ece7ff;
    display: flex;
    justify-content: center;
    color: #333;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    padding: 20px;
}

/* Sidebar */
.sidebar {
    width: 280px;a
    padding: 20px;
    background: linear-gradient(180deg, #5b2dfd, #8f5eff);
    border-radius: 25px;
    color: white;
    height: 650px;
}

.profile {
    text-align: center;
    margin-bottom: 30px;
}

.profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile h3 {
    margin-top: 10px;
}

.menu {
    list-style: none;
}

.menu li {
    padding: 12px 10px;
    margin: 5px 0;
    background: rgba(255,255,255,0.1);
    border-radius: 12px;
    cursor: pointer;
}

/* Main */
.main {
    flex: 1;
    padding-left: 20px;
}

.attendance-card {
    background: white;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin-bottom: 20px;
}

.menu-icon {
    font-size: 22px;
}

.month-selector {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.month-selector button {
    padding: 6px 12px;
    border: none;
    background: #ddd;
    border-radius: 10px;
    cursor: pointer;
}

#calendar {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#calendar th {
    padding: 8px;
    font-weight: 600;
}

#calendar td {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

#calendar td:hover {
    background: #f2e8ff;
}

/* Summary boxes */
.summary {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.box {
    width: 48%;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.red {
    background: #ff5c8a;
}

.blue {
    background: #3ec7ff;
}

.box h3 {
    font-size: 40px;
}
